<!DOCTYPE html>
<html>
<head>
    <title>Revoke Provider</title>
    <link rel="stylesheet" href="../static/style.css"> </head>
<body>
    <header>
        <h1>Revoke Provider</h1>
    </header>
    <main>
        <section id="content">
            <form method="POST">
                <label for="provider_address">Provider Address:</label>
                <input type="text" id="provider_address" name="provider_address" placeholder="Enter provider's Ethereum address...">

                <input type="submit" value="Revoke">
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 EHR System</p>
    </footer>
</body>
</html>