<!DOCTYPE html>
<html>
<head>
    <title>Revoke Provider</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>Revoke Provider</h1>
    </header>
    <main>
        <section id="content">
            <form id="revokeForm">
                <label for="providerAddress">Provider Address:</label>
                <input type="text" id="providerAddress" name="providerAddress" placeholder="Enter provider's Ethereum address...">
                <label for="privateKey">Your Private Key:</label>
                <input type="password" id="privateKey" name="privateKey" placeholder="Enter your private key...">
                <input type="submit" value="Revoke">
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 EHR System</p>
    </footer>

    <script>
        document.getElementById('revokeForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const providerAddress = document.getElementById('providerAddress').value;
    const privateKey = document.getElementById('privateKey').value;

    fetch('/revoke_provider_submit', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ providerAddress: providerAddress, privateKey: privateKey }),
    })
    .then(response => response.json())
    .then(data => {
        if (data.tx_hash) {
            alert('Provider revoked successfully. Transaction Hash: ' + data.tx_hash);
        } else if (data.error) {
            alert('Error: ' + data.error);
        } else {
            alert('An unexpected error occurred.');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('An error occurred: ' + error.message);
    });
});
    </script>
</body>
</html>